.button {
	padding: 15px 50px;
	font-family: $ff;
	font-size: 15px;
	border: 0;
	border-radius: $border;
	background: $span;
	color: $white;
	transition: opacity ease $tr;
	cursor: pointer;

	@media all and (min-width: $md) {
		font-size: 20px;
	}

	&:hover {
		opacity: $op;
	}
}

.popup-close {
	background: rgb(52, 145, 93);
	border-radius: 50%;
	position: absolute;
	top: 5px;
	right: 5px;
	width: 30px;
	height: 30px;
	border: 4px solid rgb(24, 83, 57);
	cursor: pointer;

	&:hover span {
		transform: rotate( 45deg );
	}

	span {
		display: block;
		position: absolute;
		top: 10px;
		left: 0;
		width: 100%;
		height: 3px;
		background: $white;
		transform: rotate( -45deg );
		transition: transform ease $tr;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			transform: rotate( -90deg);
			display: block;
			width: 100%;
			height: 3px;
			background: $white;
		}
	}
}