h1, .h1,
h2, .h2,
h3, .h3 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh-title;
	color: #345d5f;
	margin: 0;
	text-align: center;
	text-shadow: 1px 1px 2px rgb(11, 49, 37);

	&::selection {
		background: $main;
		color: $white;
	}
}

h1, .h1 {
	font-size: 32px;
	margin-bottom: 50px;

	@media all and (min-width: $lg) {
		font-size: 40px
	}

	span {
		color: $span;
	}
}

h2, .h2 {
	font-size: 24px;
	margin-bottom: 30px;

	@media all and (min-width: $lg) {
		font-size: 30px
	}
}

h3, .h3 {
	font-size: 25px
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease-out $tr;
	color: $black;

	&::selection {
		background: $main;
		color: $white;
	}

	&:hover {
		opacity: $op;
	}
}

p {
	margin: 0;

	&::selection {
		background: $main;
		color: $white;
	}
}

b, strong {
	font-weight: $fw-bold
}

div {
	&::selection {
		background: $main;
		color: $white;
	}
}

li {
	&::selection {
		background: $main;
		color: $white;
	}
}

span {
	&::selection {
		background: $black;
		color: $white;
	}
}