.header {
	padding: 15px 0;
	background: $main;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	transition: box-shadow ease $tr,
				padding ease $tr;

	.container {
		max-width: 1200px;
	}

	&.scrolled {
		box-shadow: 1px 1px 3px 1px rgba(5, 43, 13, 0.671);
		padding: 12px 0;
	}

	&-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		cursor: pointer;
		margin-bottom: 10px;

		@media all and (min-width: $md) {
			margin-bottom: 0;
		}

		&:hover {
			opacity: 1;

			img {
				transform: rotate( 360deg);
			}

			.header-logo-text {
				color: $white;
				text-shadow: 1px 1px 2px #fff;

				span {
					color: $black;
					text-shadow: 1px 1px 2px #000;
				}
			}
		}

		img {
			transition: transform ease 1s;
			margin: 0 5px;
		}

		&-text {
			font-family: $ff;
			font-weight: $fw-bold;
			text-transform: uppercase;
			font-size: 20px;
			transition: color ease $tr,
					text-shadow ease $tr;
			color: $black;
			text-shadow: 1px 1px 2px #000;

			@media all and (min-width: $xl) {
				font-size: 25px;
			}

			span {
				transition: color ease $tr,
						text-shadow ease $tr;
				color: $white;
				text-shadow: 1px 1px 2px #fff;
			}
		}

		&-subtext {
			color: $white;
			text-align: center;
			font-size: 20px;
			text-shadow: 1px 1px 2px #fff;
		}

		&-wrapper {
			display: flex;
			align-items: center;
		}
	}

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-direction: column;

		@media all and (min-width: $md) {
			flex-direction: row;
		}
	}

	&-work {
		display: flex;
		flex-direction: column;
		text-align: center;
		text-shadow: 1px 1px 2px #fff;

		@media all and (min-width: $md) {
			text-align: left;
		}

		&-text {
			font-size: 15px;
			color: $white;
		}

		.header-phone {
			font-size: 25px;
			font-weight: $fw-bold;

			a {
				color: $white;
			}
		}
	}

	&-master {
		font-weight: $fw-bold;
		text-transform: uppercase;
		font-size: 20px;
		color: $white;
		margin-bottom: 10px;
		text-shadow: 1px 1px 2px #fff;

		@media all and (min-width: $md) {
			font-size: 15px;
			margin-bottom: 0;
		}

		@media all and (min-width: $lg) {
			font-size: 20px;
		}
	}
}